<!DOCTYPE html>
<html>
    <head>
        <title>Some HTML in here</title>
    </head>
    <body>
        <h2 align="center">
            This is quotes app!
        </h2>
        <h4 align="center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbT-a8h_KBmTfi1XTpzwrAFJ2mGu7R9wLqAQ&usqp=CAU" />
        </h4>
        <h4 align="center">
            The project in reference:
            <font color="FF0000">
                https://github.com/nurzhanerezhep/kaz-quotes_herokuapp_com.git!
            </font>
        </h4>
    </body>
</html>