<!DOCTYPE html>
<html>
    <head>
        <title>Some HTML in here</title>
    </head>
    <body>
        <h2 align="center">
            This is quotes app!
        </h2>
        <h4 align="center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbT-a8h_KBmTfi1XTpzwrAFJ2mGu7R9wLqAQ&usqp=CAU" />
        </h4>
        <h4 align="center">
            The
            <font color="FF0000">
                <a href="https://kaz-quotes.herokuapp.com/quotes"> quots </a></li>
            </font>
            generation by site('https://api.quotable.io/random')
        </h4>
        <h5 align="center">
            The project repository in git:
            <font color="FF0000">
                <a href="https://github.com/nurzhanerezhep/kaz-quotes_herokuapp_com.git">kaz-quotes.herokuapp.com</a></li>
            </font>
        </h5>
    </body>
</html>